<div class="container-fluid" style="border: 1px solid red;">
<div class="row gx-0 mt-2 ">
    <div class="col-md-4" style="border: 1px solid green;">
        <span class="ms-1 ">
            Project Scope Deliveries
        </span>
        <div class="mt-2 d-flex flex-row">
           <div class="outercircle d-flex justify-content-center align-items-center ">
            <mat-card class="card d-flex   justify-content-center align-items-center">
                Tasks
            </mat-card>
           </div>
           <div class="d-flex flex-column">
            <div>dssadsa</div>
            <div>dssadsa</div>
            <div>dssadsa</div>
           </div>

        </div>
    </div>
    <div class="col-md-8">
        <span>
            Project Scope Deliveries
        </span>
    </div>


</div>
</div>
