
.header{
    background: #0092D6;
    height: 50px;
    .heading{
        font-size: 20px;
        margin-left: 15px; 
        font-weight: 500;
        color: #fff;
    }
}

.main-container{
    height: calc(100% - 50px);
    overflow-y: auto;
}




