/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: "Manrope",  sans-serif; }

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    padding: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

.mat-mdc-select-arrow {
    display: none;
  }

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-focus-icon-color:  #0092d6 !important;
    --mdc-radio-selected-hover-icon-color:  #0092d6 !important;
    --mdc-radio-selected-icon-color: #0092d6 !important;
    --mdc-radio-selected-pressed-icon-color: #0092d6;
    --mat-mdc-radio-ripple-color: none !important;
    --mat-mdc-radio-checked-ripple-color: none !important;
  }

  .selectpanel.mdc-menu-surface.mat-mdc-select-panel {
    background: #fff9f2 !important;
    border-radius: 10px !important;
  }
  .select-option.mat-mdc-option.mat-mdc-option-active {
    background: #c5d8f5 !important;
  }
  .select-option.mat-mdc-option:hover {
    background: #c5d8f5 !important;
  }
  .mat-primary
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
    .mdc-list-item__primary-text {
    color: #000000 !important;
    font-weight: 900 !important;
  }
  .mat-mdc-option .mdc-list-item__primary-text {
    color: #000000 !important;
  }
  .dropdown {
    .mat-mdc-form-field-icon-suffix > .mat-icon {
      color: #bcbcbc !important;
    }
  }

  .custom-mat-form-field {
    .mat-mdc-form-field-focus-overlay {
      background-color: white;
    }
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #c5d8f5 !important;
      // background-color: white !important;
    }
    .mat-mdc-form-field-flex .mdc-notched-outline .mdc-notched-outline__trailing {
      border-radius: 0 20px 20px 0;
    }
    .mat-mdc-form-field-flex .mdc-notched-outline .mdc-notched-outline__leading {
      border-radius: 20px 0 0 20px;
      width: 35px !important;
    }
    .mat-mdc-input-element::placeholder {
      color: #bcbcbc !important;
    }
    .mat-mdc-select-placeholder {
      color: #bcbcbc !important;
      transform: translateY(50%);
    }
    .mat-mdc-select-arrow {
      display: none;
    }
    .mat-mdc-form-field-infix {
      min-height: 10px !important;
    //   padding-top: 15px !important;
    //   padding-bottom: 15px !important;
      // background-color: $White !important;
    }
 
  
    .mat-mdc-input-element {
      font-size: 12px !important;
    }

  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  .mdc-form-field>label {
    font-weight: 400 !important;
    font-size: 13px;
    font-family: "Manrope",  sans-serif;
  }
  
