.header{
    background: #0092D6;
    height: 50px;
    min-width: 50px;
    .heading{
        font-size: 13px;
        margin-left: 15px; 
        font-weight: 500;
    }
}

.main-content{
    height: calc(100% - 50px);
    // border: 2px solid yellow;
    overflow-y: auto;
    font-family: "Manrope",  sans-serif;
    .department-overview{
        .dpt-Info{
            background: #ABB2B9;
        }

        .total-counts{
            border: 1px solid blue;
            height: 90px;
        }

        .departments{
            height: 170px;
            border: 1px solid blue;
        }

        .heading{
            font-size: 18px;
            font-weight: 600;
        }
        .heading-number{
            font-size: 30px;
            // line-height: 20px;
            font-weight: 700;
        }
        


    }
    .graphs-container{
        border: 1px solid green;
        padding: 10px 15px 10px 15px;

    }
    
}

.content{
    height: calc(100% - 50px);
    border: 1px solid red;
}

.dot {
    margin-left: 10px;
    width: 6px;
    height: 6px;
    background-color: #F4F6F6 ;
    border-radius: 50%;
    display: inline-block;
  }



.b-red{
    border: 1px solid green;
}

.box{
   
    background: linear-gradient(to top, #668cec, #417ad4);
    border: 1px outset rgba(119, 119, 119, 0.171);


}

h6{
    color: white;
}

p{
    margin: 0;
    color: white;
}

.footer{
    margin-top: 420px;
}

// .footer{
//     height: 62px;
//     min-width: 62px;
//     border: 2px solid rosybrown;
// }

.left-top{
    
    border-left: 1px solid #0072A7;
    // border-top: 1px solid #0072A7;
    .heading{
        color: #0072A7;
        font-size: 14px;
        font-weight: 500;
    }
    .count{
        color: #0072A7;
        font-size: 30px;
        font-weight: 600;
    }
}

.dpt{
    color: #fff;
    font-weight: 500;
}

.total-counts{
    border: 1px solid #0072A7;
    color: #0072A7;
        font-size: 16px;
        font-weight: 500;
}

.btn{
    color: #fff;
    font-size: 12px;
    background: #24B8FD;
}

.legend{
    margin-left: 10px;
    width: 30px;    
    height: 15px;
    // background-color: #000 ;
    border-radius: 15%;
    display: inline-block;
}

.c-total{
    font-size: 13px;
}

.title{
    font-size: 16px;
}

.form-select:focus {
    outline: none;
    box-shadow: none; /* Optional: Remove box shadow on focus */
}

.form-select{
    font-size: 13px;
    font-family: "Manrope";
    cursor: pointer;
    
}

.form-select:hover  option{
    cursor: pointer;
}

.main-heading{
    font-size: 16px;
    font-weight: 700;
    color: #0092d6;
}

.total-count{
    min-height: 8%;
    color: #0072A7;
    
    .total-name{
        height: 40%;
        padding-top: 5px;
        font-size: 15px;
        font-weight: 600;
        
    }
    .total-value{
        height: 60%;
        padding: 8px 0;
        font-size: 30px;
        font-weight: 600;
    }
}

.dpts-conatiner{
    min-height: 48%;
    color: #fff;
    .dpt-box{
        height: 50%;
        background-size: cover;
  background-position: center;
//   opacity: 0.5;
  position: relative;
    }
    .dpt-box1{
        width: 100%;
        height: 100%;
        opacity: 0.8    ;
        position: relative;
  z-index: 1;
//   border: 1px solid white;   
    }
    .dpt-header{
        height: 20%;
        padding: 8px 0;
        font-size: 16px; 
        font-weight: 800;
        
        
    }
    .dpt-content{
        height: 80%;
        .dpt-section{
            font-size: 10px;
            font-weight: 500;
        }
    }
}

.chat-body {
    min-height: 47%;
}


