<div class="d-flex row gx-0 main-content">
  <div class="col-md-4 d-flex flex-column">
    <mat-card class="shadow d-flex flex-row">
      <div
        class="col-4 d-flex flex-column left-top"
        *ngFor="let item of totalCounts"
      >
        <div  class="col-12 ps-3 py-2 heading">
          {{ item.name }}
        </div>
        <div class="col-12 pe-3 py-2 text-end count">
          {{ item.count }}
        </div>
      </div>
    </mat-card>
    <div class="d-flex row gx-0" *ngIf="excelData.length">
      <div style="border-right: 1px solid #fff;"
        class="col-6 d-flex flex-column dpt"
        *ngFor="let data of excelData; let i = index"
        [style.backgroundColor]="getColor(i)"
      >
        <div class="d-flex row gx-0">
          <div
            style="font-size: 17px; font-weight: 600"
            class="col-10 ps-3 d-flex flex-row align-items-center"
          >
            {{ data.department_name }}
          </div>
          <div class="col-2">
            <img style="border-radius: 10%; opacity: 0.8;" height="40" width="40" [src]="data.icon" alt="" />
          </div>
        </div>
        <div class="d-flex row gx-0 mt-1">
          <div class="col-8 d-flex flex-wrap gx-0 ps-2">
            <div
              class="d-flex col-12 ps-2"
              style="font-weight: 500; font-size: 16px"
            >
              Sections
            </div>
            <span *ngFor="let section of data.sections">
              <div class="dot me-1"></div>
              <span style="font-size: 10px; font-weight: 500;">{{ section.name }}</span>
            </span>
          </div>
          <div class="col-4 d-flex flex-column mb-2">
            <div style="font-weight: 500; font-size: 16px">Features</div>
            <div
              style="font-size: 28px; font-weight: 700;"
              class="h-100 mt-2 d-flex justify-content-center"
            >
              {{data['Feature Class Name'].length}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex row  justify-content-start   gx-0 h-100">
      <!-- <div class="col-5 d-flex flex-row">
        <div class="col-3" style="background: red;">

        </div>
        <div class="col-9" style="background: greenyellow;">

        </div>

      </div> -->
      <div class="col-12 my-2 ">
        <app-graphs [totalProps]="comulativeCount"  ></app-graphs>

      </div>
      
      <!-- <div
        class="col-6 d-flex flex-column total-counts"
        *ngFor="let key of getObjectKeys(comulativeCount)"
      >
        <div class="d-flex me-1" style="padding: 8px 0;">
          <span class="c-total ps-3"> {{key}} </span>
        </div>
        <div style="font-size: 22px; font-weight: 600;" class="text-end pe-3  " >
          <span>{{ comulativeCount[key] }}</span>
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-md-8 px-2 pt-1">
    <div class="row gx-0"  >
        <div class="col-md-5 mt-2"  >
            <app-row-graph [props]="rowProps"  ></app-row-graph>
        </div>
         
        <div class="col-md-7 mt-2" >
            <app-prk-graph [props]="parkProps"  ></app-prk-graph>
        </div>
        <div class="col-md-7 " style="margin-top: 5px;" >
          <app-rfm-graph [props]="rfmProps" ></app-rfm-graph>
      </div>
        <div class="col-md-5" style="margin-top: 5px;"  >
          <app-its-graph [props]="itsProps"  ></app-its-graph >
      </div>
       
         <div class="col-md-4 " style="margin-top: 5px;" >
          <app-roads-graph [props]="roadsProps" ></app-roads-graph>
      </div>
      <div class="col-md-4 " style="margin-top: 5px;" >
        <app-traf-graph  [props]="trfProps" ></app-traf-graph>
    </div>
    <div class="col-md-4 " style="margin-top: 5px;" >
      <div style="font-family: Manrope;" class="ms-4">
        <span  style="font-weight: 500;" >Legends</span>
      </div>
      <div class="d-flex flex-row align-items-center mt-1    "   *ngFor="let lgnd of legend; let i = index" >
        <div [style.backgroundColor]="getlegendColor(i)" class="legend me-1"></div>
          <div style=" font-size: 10px; font-family: Manrope; width: 200px; line-height: 160%; margin-top: 5px;" >
            <!-- <ng-container > -->
              {{lgnd}}
            <!-- </ng-container> -->
            <!-- {{data[0][]}} -->
          </div>
      </div>
  </div>
        

    </div>
  </div>
</div>
